<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabrielaangebrandt.dz2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".novacActivity"
            android:label="@string/title_activity_novac"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".temperaturaActivity"
            android:label="@string/title_activity_temperatura"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".duzineActivity"
            android:label="@string/title_activity_duzina"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".tekucineActivity"
            android:label="@string/title_activity_tekucine"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RezultatiActivity"
            android:label="@string/title_activity_rezultati"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>
